# Python
__pycache__/
data/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store

# Datasets
cifar-10-batches-py/
cifar-10-python.tar.gz

# Models
*.pth
best_cifar10_model_hybrid.pth

# Logs
runs/

# Local packages
cfn.egg-info/
.ruff_cache/